.search-container {
  background: white;
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding: .3rem .3rem;
  margin-right: 1rem;
  border-radius: 50px;

  input {
    border: none;
    outline: none;
    font-size: 14px;
    color:#777;
  }

  .search-icon {
    background: $secondary;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
    transition: .5s;

    &:hover {
      transform: scale(1.26);
    }
  }

}

.add-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .add-grid {
    width: 100%;
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 15px;

    .item {
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}














@media (max-width:576px) {
  .add-container {
    .add-grid {
      grid-template-columns: auto auto;
    }
  }

  .search-wrapper {
    width:100%;
    display: flex;
    justify-content: center;
    .search-container {
      background: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: .3rem .3rem;
      border-radius: 50px;
      width: 95%;
      margin-right: 0px;
      box-shadow: 0px 1px 8px -1px rgba(0 ,0  ,0 , 0.2);
      position:relative;

      .mobile-search {
        background: white;
        border-radius: 20px;
        width: 100%;
        position: absolute;
        top: 101%;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 2px;
        z-index:10;

        .search-option{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width:90%;
          padding-bottom:.5rem;

          p{
            color:#777;
            font-size: 11px;
          }

          a{
            background:$secondary;
            font-size: 12px;
            position: relative;
            border-radius: 10px;
            bottom: .5rem;
            padding:.5rem 1rem;
            transition: .5s;
            text-decoration: none;
            color:white;

            &:hover{
              color:white !important;
            }
          }
        }


        .item {
          background: white;
          display: flex;
          align-items: center;
          width: 90%;
          margin: .3rem;

          div {
            margin-left: 1rem;
            margin-top: .5rem;
            width: 70%;

            a {
              width: 100%;
              text-decoration: none;

              h3 {
                font-size: 10px;
                color: $primary;
              }
            }

            h4 {
              font-size: 12px;
              color: red;
            }
          }

          a {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 100%;
            }
          }
        }
      }

      input {
        border: none;
        outline: none;
        font-size: 12px;
      }

      .search-icon {
        background: $secondary;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        cursor: pointer;
        transition: .5s;
      }
    }
  }
}











@media(width:1024px) {
  .add-container {
    .add-grid {
      grid-template-columns: auto auto;
    }
  }
}