.mobile-filter,
.mobile-filter2,
.mobile-filter3,
.mobile-filter4 {
  display: none;
}

.opened {
  width: 45% !important;
}

.toggled {
  height: 80px !important;
}

.pagination-filter {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;

  button {
    display: none;
  }

  .search {
    display: none;
  }

  .search-container {
    background: white;
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: .3rem .3rem;
    margin-right: 1rem;
    border-radius: 50px;

    input {
      border: none;
      outline: none;
      font-size: 14px;
    }

    .search-icon {
      background: $secondary;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      cursor: pointer;
      transition: .5s;

      &:hover {
        transform: scale(1.26);
      }
    }
  }

  .filter-btn {
    display: none;
  }

  .pages {
    display: flex;
    justify-content: center;

    .active {
      background: $secondary  !important;
      color: black !important;
    }

    .page {
      background: black;
      color: white;
      margin-inline: .5rem;
      height: 30px;
      width: 30px;
      border-radius: 7px;
      border: none;
      cursor: pointer;
    }
  }
}

.pagination {
  margin-inline:2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;

  .page {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    margin-inline: .35rem;
    border: none;
    background: #777;
    color: white;
    transition: .5s;

    &:hover{
      background: $secondary;
    }
  }

  .active {
    background: $secondary;
    color: white;
  }
}

.computer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;

  .loading-wrapper {
    display: flex;
    justify-content: center;
  }

  .filter-container {
    background: white;
    overflow: hidden;
    box-shadow: 0px 1px 8px -1px rgba(0 ,0  ,0 , 0.2);
    width: 26%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;


    .price {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .slider {
        display: flex;
        width: 70%;

        .s{
          color:$secondary !important;
        }
      }
    }

    div:not(.header) {
      margin-top: 1rem;
      width: 80%;

      label {

        span {
          font-size: 14px;
        }
      }

      h1 {
        font-size: 20px;
        color: #777;
        font-weight: 600;
      }

      .price-inputs {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 0px;

        input {
          width: 80px;
          color: #777;
          text-align: center;
          font-weight: 600;
          font-size: 13px;

          &:first-of-type {
            margin-right: .3rem;
          }
        }
      }
    }

    .header {
      background: $secondary;
      display: flex;
      justify-content: flex-start;
      padding-inline: 1rem;
      align-items: center;
      width: 100%;
      height: 50px;

      h2 {
        font-size: 18px;
      }
    }
  }

  .computer-container {
    width: 70%;
  }
}

















@media (max-width:1024px) and (min-width:700px) {
  .pagination-filter {
    display: none;
  }
}



















@media (max-width:576px) {

  .pagination{
    margin-inline:1rem;
    justify-content: flex-start;

    .page{
      &:hover{
        background: #777;
      }
    }
  }

  .mobile-filter,
  .mobile-filter2,
  .mobile-filter3,
  .mobile-filter4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    height: calc(100vh - 80px);
    width: 0%;
    position: fixed;
    z-index: 5555555556;
    top: 80px;
    box-shadow: 1px 0px 1px;
    transition: .5s;
    overflow: scroll;

    .filter-container {
      height: 70%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .filter {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #777;
        border-bottom: none;
        width: 100%;

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: .5rem 1rem;

          h2 {
            margin: auto 0;
            font-size: 11px;
            color: #777;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          position: relative;
          padding-inline: 1rem;
          height: 0px;
          transition: .3s;

          .mobile-slider {
            margin-top: .7rem;
            height: 40px;

            .s{
              color:$secondary !important;
              .css-eg0mwd-MuiSlider-thumb {
                background-color: white !important;
                box-shadow: 0px 0px 3px #777;
              }
            }
          }

          .price {
            height: 80%;

            .slider {
              transform: scale(.9, .9);
            }

            h1 {
              font-size: 12px;
            }
          }

          label {
            font-size: 12px;
            color: #777;

            input {
              margin-right: .7rem;
              margin-bottom: .5rem;
            }
          }
        }

        .content.active {
          height: 90px !important;
        }
      }
    }
  }

  .pagination-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem .5rem;
    width: 100%;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      margin-bottom: 1rem;

      button {
        background: $secondary;
        display: block;
        border: none;
        outline: none;
        font-size: 12px;
        border-radius: 10px;
        padding: .5rem .8rem;
        margin-left: .5rem;
        box-shadow: 0px 0px 1px;
        color: white;
      }

      .search {
        position: relative;
        background: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: .3rem .3rem;
        border-radius: 50px;
        box-shadow: 0px 1px 8px -1px rgba(0 ,0  ,0 , 0.2);
        width: 70%;

        .mobile-search {
          background: white;
          border-radius: 20px;
          width: 100%;
          position: absolute;
          top: 101%;
          right: 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-shadow: 0px 0px 2px;
          z-index: 10;

          .search-option {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 90%;
            padding-bottom: .5rem;

            p {
              color: #777;
              font-size: 11px;
            }

            a {
              background: $secondary;
              font-size: 12px;
              position: relative;
              border-radius: 10px;
              bottom: .5rem;
              padding: .5rem 1rem;
              transition: .5s;
              text-decoration: none;
              color: white;

              &:hover {
                color: white !important;
              }
            }
          }


          .item {
            background: white;
            display: flex;
            align-items: center;
            width: 90%;
            margin: .3rem;

            div {
              margin-left: 1rem;
              margin-top: .5rem;
              width: 70%;

              a {
                width: 100%;
                text-decoration: none;

                h3 {
                  font-size: 10px;
                  color: $primary;
                }
              }

              h4 {
                font-size: 12px;
                color: red;
              }
            }

            a {
              width: 30%;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 100%;
              }
            }
          }
        }

        input {
          border: none;
          outline: none;
          color: #777;
          font-size: 11px;
          padding-left: 1rem;
          background: #fff;
          width: 150px;
        }

        .search-icon {
          background: $secondary;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: .5s;

          &:hover {
            transform: scale(1.26);
          }
        }
      }
    }
  }

  .computer-wrapper {
    display: flex;
    justify-content: center;

    .computer-container {
      width: 100%;

      .pagination {
        padding-bottom: 1rem;
      }
    }

    .filter-container {
      display: none;
    }
  }
}





















@media (max-width:321px) {

  .mobile-filter {
    display: block;
    background: #fff;
    height: calc(110vh - 80px);
    width: 0%;
    position: fixed;
    z-index: 5555555556;
    top: 80px;
    box-shadow: 1px 0px 1px;
    transition: .5s;
  }

  .pagination-filter {
    justify-content: space-between;

    .filter-btn {
      font-size: 12px;
      padding: .5rem .6rem;
    }
  }
}