.computer {
  background: white;
  margin: 1.75rem 1rem;
  padding: 1.25rem 1rem;
  display: flex;
  position: relative;
  box-shadow: 0px 1px 8px -1px rgba(0 ,0  ,0 , 0.2);

  .computer-left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h2 {
      display: none;
    }

    button {
      display: none;
    }
  }

  .computer-right {
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 600;

    .right-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top:1rem;
    }

    h2 {
      color: red;
      font-weight: 600;
      font-size: 17px;
      margin:auto 0;
    }

    h3 {
      font-size: 15px;
      color: $primary;
      
      a{
        text-decoration: none;
        font-weight: 600;
      }
    }

    h4 {
      font-size: 13px;
      line-height: 30px;
      font-weight: 600;
      color: #777;
    }

    button {
      background: $secondary;
      border: none;
      outline: none;
      padding: .5rem 1rem;
      border-radius: 10px;
      font-size: 11px;
      transition: .5s;
      color: #fff;

      &:hover {
        transform: scale(1.15, 1);
      }
    }
  }
}

.computer:first-child {
  margin-top: 0px;
}

.computer:last-of-type{
  margin-bottom: 0rem;
}


@media (max-width:992px) and (min-width:768px) {}


@media (max-width:576px) {
  .computer {
    margin: 1.25rem 1rem;

    .computer-right {
      padding-right: 0px;
      .right-btn {
        display: none;
      }

      h3 {
        font-size: 13px;
        line-height: 15px;
        

        a{
          text-decoration: none;
        }
      }

      h4 {
        font-size:13px;
        line-height: 20px;
      }
    }

    .computer-left {
      display: flex;
      flex-direction: column;

      a{
        display: flex;
        justify-content: center;
      }

      h2 {
        display: block;
        color: red;
        font-size: 14px;
        margin-top: 2rem;
        text-align: center;
      }

      button {
        display: block;
        background: $secondary;
        border: none;
        outline: none;
        padding: .5rem 1rem;
        border-radius: 10px;
        font-size: 9px;
        transition: .5s;
        color: white;
      }
    }
  }
}